body {
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: #e50914; /* Para que los botones bajen si no caben */
}

.btn-activo {
  background-color: #e50914;
  border: 2px solid white;
}

.filtros-movie-tv {
  justify-content: center;
  flex-wrap: wrap;
}

.filtros-movie-tv button {
  padding: 10px 20px;
}

.filtros {
  justify-content: center;
  flex-wrap: wrap; /* Para que los botones bajen si no caben */
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover { background: #e50914; }

.peliculas-swiper {
  top: 20px;
}

/* Estilo base de las tarjetas */
.pelicula-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Efecto al pasar el cursor (Hover) */
.pelicula-card:hover {
  transform: scale(1.05); /*Agranda ligeramente la tarjeta un 5% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);/* Agrega una sombra profunda */
  z-index: 10; /* Asegura que la tarjeta flotante se muestre por encima de las demás */
}

.pelicula-card img {
    transition: border-radius 0.3s ease;
}

.pelicula-card:hover img {
  border-radius: 6px; /* Ajusta ligeramente los bordes */
}