.hero-carousel-container {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 40px auto;
}

.hero-banner {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 500px; /* Altura fija para que no se vea "chato" */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;/* Alinea el texto abajo */
    position: relative;
}

/* Oscurecemos un poco la imagen para que el texto se lea mejor */
.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);
}

.hero-content {
    position: absolute; /* Para que quede encima del degradado */
    z-index: 2;
    text-align: start;
    color: white;
    width: 50%;
    left: 40px;
    top: 60px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-align: start;
    color: white;
    inline-size: 10px;
    width: 100%;
    line-height: 1;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

/* Ajustamos la posición vertical de las flechas del carrusel de películas */
.peliculas-swiper .swiper-button-next,
.peliculas-swiper .swiper-button-prev {
    top: 40% !important;
    transform: translateY(-50%);
}

.swiper {
    width: 100%;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-button-next {
    margin-right: 20px;
}

.swiper-button-prev {
    margin-left: 20px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
    background-color: rgba(0,0,0,0.3);
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    backdrop-filter: blur(5px); /* Efecto cristal moderno */
    transition: all 0.3s ease !important;
    padding: 5px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 15px !important;
    font-weight: bold;
}